USE [master]
GO
/****** Object:  Database [Empleados_]    Script Date: 2/05/2024 1:43:15 p. m. ******/
CREATE DATABASE [Empleados_]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Empleados_', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Empleados_.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Empleados__log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Empleados__log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Empleados_].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Empleados_]
GO
/****** Object:  Table [dbo].[DatosEmpleados]    Script Date: 2/05/2024 1:43:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosEmpleados](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumCedula] [varchar](12) NULL,
	[Nombre] [varchar](40) NULL,
	[Apellido] [varchar](40) NULL,
	[FechaNac] [date] NULL,
	[Telefono] [varchar](15) NULL,
	[Correo] [varchar](40) NULL,
	[Cargo] [varchar](40) NULL,
	[Salario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DatosEmpleados] ON 

INSERT [dbo].[DatosEmpleados] ([ID], [NumCedula], [Nombre], [Apellido], [FechaNac], [Telefono], [Correo], [Cargo], [Salario]) VALUES (6, N'0', N'fredy', N'rodriguez', CAST(N'2023-11-11' AS Date), N'3144458749', N'fredy@gmail.com', NULL, NULL)
INSERT [dbo].[DatosEmpleados] ([ID], [NumCedula], [Nombre], [Apellido], [FechaNac], [Telefono], [Correo], [Cargo], [Salario]) VALUES (7, N'0', N'lina ', N'ballesteros', CAST(N'2005-10-06' AS Date), N'3232322674', N'lina@gmail.com', NULL, NULL)
INSERT [dbo].[DatosEmpleados] ([ID], [NumCedula], [Nombre], [Apellido], [FechaNac], [Telefono], [Correo], [Cargo], [Salario]) VALUES (8, N'0', N'Brayan', N'Salinas', CAST(N'2005-08-20' AS Date), N'3116798695', N'brayansalinas@gmail.com', NULL, NULL)
SET IDENTITY_INSERT [dbo].[DatosEmpleados] OFF
GO
USE [master]
GO
